<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.palladiosimulator.pcmbench.palladio_modeling_category"
            class="org.palladiosimulator.dataflow.confidentiality.pcm.ui.PCMCharacterizedDataDictionaryWizard"
            icon="platform:/plugin/org.palladiosimulator.dataflow.confidentiality.ui/icons/datadictionary.png"
            id="org.palladiosimulator.dataflow.confidentiality.pcm.ui.new.ddc"
            name="Data Dictionary"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.palladiosimulator.editors.sirius.ui.PCMToolbar?after=Usage">
         <command
               commandId="org.palladiosimulator.dataflow.confidentiality.pcm.ui.command.new.ddc"
               icon="platform:/plugin/org.palladiosimulator.dataflow.confidentiality.ui/icons/datadictionary.png"
               id="pcmddc"
               label="Create a new Data Dictionary from scratch"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.palladiosimulator.dataflow.confidentiality.pcm.ui.PCMCreateNewDDCCommand"
            id="org.palladiosimulator.dataflow.confidentiality.pcm.ui.command.new.ddc"
            name="New Data Dictionary">
      </command>
   </extension>
</plugin>
