<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Target Platform" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="org.objectweb.asm" version="0.0.0"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
			<unit id="org.hamcrest.core" version="0.0.0"/>
			<repository location="https://download.eclipse.org/releases/2021-12/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="de.itemis.xtext.antlr.feature.feature.group" version="0.0.0"/>
			<repository location="https://download.itemis.com/updates/releases/2.1.1"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.pcm" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.pcm" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/latest"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.editors.commons.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-editors-commons/releases/latest"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.editors.sirius.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-editors-sirius/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.editors.sirius.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-editors-sirius/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.architecturaltemplates.api" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.architecturaltemplates.api" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addon-architecturaltemplates/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.yakindu.base.xtext.utils.gmf.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-yakindustatecharts/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.yakindu.base.xtext.utils.gmf.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-yakindustatecharts/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="tools.mdsd.library.standalone.initialization.log4j.feature.feature.group" version="0.0.0"/>
			<unit id="tools.mdsd.library.standalone.initialization.emfprofiles.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/library-standaloneinitialization/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="tools.mdsd.library.standalone.initialization.log4j.feature.feature.group" version="0.0.0"/>
			<unit id="tools.mdsd.library.standalone.initialization.emfprofiles.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/library-standaloneinitialization/releases/latest"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="de.uka.ipd.sdq.workflow.feature.mdsd.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="de.uka.ipd.sdq.workflow.feature.mdsd.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-workflowengine/releases/latest"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.supporting.prolog.ui.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/fluidtrust/palladio-supporting-prolog/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.supporting.prolog.ui.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/fluidtrust/palladio-supporting-prolog/releases/latest/release"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.dataflow.diagram.editor.sirius.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/fluidtrust/palladio-supporting-dataflowdiagram/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.dataflow.diagram.editor.sirius.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/fluidtrust/palladio-supporting-dataflowdiagram/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.dataflow.confidentiality.transformation.feature.feature.group" version="0.0.0"/>
			<unit id="org.palladiosimulator.dataflow.confidentiality.ui.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/fluidtrust/palladio-supporting-dataflowdiagramconfidentiality/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.dataflow.confidentiality.transformation.feature.feature.group" version="0.0.0"/>
			<unit id="org.palladiosimulator.dataflow.confidentiality.ui.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/fluidtrust/palladio-supporting-dataflowdiagramconfidentiality/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.prolog4j.swicli.feature.feature.group" version="0.0.0"/>
			<unit id="org.prolog4j.swicli.enabler.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/fluidtrust/palladio-supporting-prolog4j/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.prolog4j.swicli.feature.feature.group" version="0.0.0"/>
			<unit id="org.prolog4j.swicli.enabler.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/fluidtrust/palladio-supporting-prolog4j/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="tools.mdsd.library.emfeditutils.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/library-emfeditutils/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="tools.mdsd.library.emfeditutils.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/library-emfeditutils/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="tools.mdsd.junit5utils.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/library-junit5utils/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="tools.mdsd.license.epl2.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/build-licensefeature/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.modelversioning.emfprofile.ui.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.modelversioning.emfprofile.ui.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-emfprofiles/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.mdsdprofiles.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.mdsdprofiles.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-mdsdprofiles/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.indirections.editor.tree.feature.feature.group" version="0.0.0"/>
			<unit id="org.palladiosimulator.indirections.editor.sirius.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addons-indirections/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.indirections.editor.tree.feature.feature.group" version="0.0.0"/>
			<unit id="org.palladiosimulator.indirections.editor.sirius.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addons-indirections/releases/latest/"/>
		</location>

		<!-- transitively required by Palladio editors -->
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.edp2" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.edp2" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-edp2/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.jscience" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.jscience" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-wrapper/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.measurementframework" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.measurementframework" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-measurementframework/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.metricspec" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.metricspec" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-metricspecification/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.analyzer.workflow" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-framework/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.analyzer.workflow" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-framework/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="de.uka.ipd.sdq.featureconfig" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-featuremodel/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="de.uka.ipd.sdq.featureconfig" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-supporting-featuremodel/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="de.uka.ipd.sdq.codegen.simucontroller" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simucom/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="de.uka.ipd.sdq.codegen.simucontroller" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simucom/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.recorderframework" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-recorderframework/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.recorderframework" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-recorderframework/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.reliability" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-reliability/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.reliability" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-reliability/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="de.uka.ipd.sdq.simulation.abstractsimengine" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-abstractsimengine/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="de.uka.ipd.sdq.simulation.abstractsimengine" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-abstractsimengine/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="de.uka.ipd.sdq.scheduler" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-scheduler/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="de.uka.ipd.sdq.scheduler" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-simulation-scheduler/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.probeframework" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.probeframework" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-probeframework/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.simulizar.ui" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simulizar/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.simulizar.ui" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-analyzer-simulizar/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.monitorrepository" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-monitorrepository/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.monitorrepository" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-qual-monitorrepository/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.servicelevelobjective" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addons-servicelevelobjectives/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.servicelevelobjective" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addons-servicelevelobjectives/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.experimentautomation.application" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addons-experimentautomation/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.experimentautomation.application" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addons-experimentautomation/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.cost.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addons-costefficiency/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.cost.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-addons-costefficiency/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="com.google.dagger.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/thirdparty-library/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="com.google.dagger.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.mdsd.tools/thirdparty-library/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.palladiosimulator.examples.package.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-example-models-package/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.palladiosimulator.examples.package.feature.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-example-models-package/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.scaledl.usageevolution" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-cloudscaleusageevolution/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.scaledl.usageevolution" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-thirdparty-cloudscaleusageevolution/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="LIMBO_DLIM.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-p2mirror-dlim/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="LIMBO_DLIM.feature.group" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/palladio-p2mirror-dlim/releases/latest/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="nightly">
			<unit id="org.storydriven.storydiagrams" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/archive/storydiagraminterpreter/nightly/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit" filter="release">
			<unit id="org.storydriven.storydiagrams" version="0.0.0"/>
			<repository location="https://updatesite.palladio-simulator.com/archive/storydiagraminterpreter/releases/latest/"/>
		</location>

	</locations>
</target>
